@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(99%) sepia(99%) saturate(2%) hue-rotate(113deg) brightness(109%)
        contrast(100%);

    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;

    // Breakpoint header
    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // Dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(19%) sepia(7%) saturate(1491%) hue-rotate(186deg)
        brightness(98%) contrast(95%);
    --top-menu-border-color: #171c28;

    // Menu column icon color
    --menu-column-icon-color: brightness(0) saturate(100%) invert(98%) sepia(5%) saturate(671%) hue-rotate(76deg)
        brightness(108%) contrast(96%);

    //Sidebar
    --sidebar-bg-color: #292e39;
    --sidebar-shadow-color: rgba(23, 28, 40, 0.4);

    //Category item
    --cate-item-bg: #171c28;
    --cate-item-thumb-bg: #292e39;
    --cate-item-title-color: #fff;

    //Filter button
    --filter-btn-text-color: #fff;
    --filter-btn-bg: #171c28;

    //Product card
    --product-card-bg: #171c28;
    --product-card-shadow: rgba(0, 0, 0, 0.2);
    --like-btn-bg: #292e39;

    // Filter form
    --filter-form-bg: #292e39;
    --filter-form-shadow: rgba(0, 0, 0, 0.4);
    --filter-tag-bg: #171c28;
    --filter-form-arrow: brightness(0) saturate(100%) invert(15%) sepia(10%) saturate(1207%) hue-rotate(183deg)
        brightness(99%) contrast(91%);

    // Auth
    --auth-form-main-color: #b9babe;
    --auth-content-bg: #292e39;
    --auth-intro-bg: #171c28;
    --auth-text-color: var(--auth-form-main-color);
    --auth-intro-text-color: var(--auth-form-main-color);
    --auth-heading-color: var(--auth-form-main-color);
    --auth-btn-text-color: var(--auth-form-main-color);

    // Form
    --checkbox-label-color: var(--auth-form-main-color);
    --form-placeholder-color: var(--auth-form-main-color);
    --form-border-color: var(--auth-form-main-color);

    // Product detail
    --product-detail-page: #292e39;

    // Breadcrumbs
    --breadcrumbs-bg: #171c28;
    --breadcrumbs-shadow-color: rgba(23, 28, 40, 0.2);
}
