@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(21%) saturate(2247%) hue-rotate(214deg) brightness(92%)
        contrast(95%);

    --body-bg: #f6f6f6;
    --header-bg-color: #eee;

    // Footer
    --footer-bg-color: var(--header-bg-color);
    --footer-text-color: #9e9da6;

    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    // Breakpoint header
    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // Act dropdown
    --act-dropdown-bg: #fff;
    --act-dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --act-dropdown-border-color: #d2d1d6;

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;

    // Sidebar
    --sidebar-bg-color: #fff;
    --sidebar-shadow-color: rgba(200, 200, 200, 0.4);

    // Category item
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }

    // Filter button
    --filter-btn-text-color: #6c6c72;
    --filter-btn-bg: #fff;

    // Product card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);
    --like-btn-bg: #fff;

    // Filter form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --form-tag-bg: #f8f8fb;

    // Auth
    --auth-content-bg: #fff;
    --auth-text-color: #9e9da8;

    @include abstracts.screen(md) {
        --auth-intro-bg: #fff;
    }

    // Form
    --checkbox-label-color: #9e9da8;
    --form-placeholder-color: #d2d1d6;
    --form-border-color: #d2d1d6;
    --form-select-dialog-shadow: rgba($color: #000, $alpha: 0.3);
    --form-select-dialog-bg: #fff;
    --form-option-hover-bg: #ebebeb;

    // Product detail
    --product-detail-page: #fff;
    --product-detail-info-bg: #f6f6f6;
    --prod-info-total-price-color: #000;
    --product-detail-tag-bg: #ededf6;

    @include abstracts.screen(md) {
        --product-detail-page: #fafafd;
        --product-detail-info-bg: #fff;
    }

    // Search bar
    --search-bar-bg: #fff;

    // Breadcrumbs
    --breadcrumbs-bg: #f6f6f6;
    --breadcrumbs-shadow-color: rgba(237, 237, 246, 0.2);

    @include abstracts.screen(md) {
        --breadcrumbs-bg: #fff;
    }

    // Review card
    --review-card-bg: #fafafd;

    @include abstracts.screen(md) {
        --review-card-bg: #fff;
    }

    // Text content
    --text-content-hr-bg: #ebebeb;

    // Checkout cart item
    --checkout-cart-info-bg: #fff;
    --checkout-cart-info-shadow-color: rgba(237, 237, 246, 0.2);
    --checkout-breadcrumbs-bg: #fff;
    --checkout-border-color: #d2d1d6;

    // Gift item
    --gift-item-bg: rgb(116, 66, 224, 0.2);
    --gift-item-shadow-color: rgba(237, 237, 246, 0.2);

    // Dialog
    --dialog-content-bg: #fff;
    --dialog-content-shadow-color: rgba(237, 237, 246, 0.2);

    // Payment item
    --payment-item-bg: #f6f6f6;

    // Profile
    --profile-sidebar-bg: #fff;
    --profile-sidebar-shadow-color: rgba(237, 237, 246, 0.2);
    --profile-link-hover: #ebebeb;

    // Add New card
    --new-card-border-color: #d2d1d6;

    // Account info
    --account-info-bg: #f6f6f6;
    --account-info-icon-bg: #fff;

    // Separate
    --separate-color: #d2d1d6;

    // User menu
    --user-menu-link-hover: #ebebeb;
}
